<?xml version='1.0'?>
<sdf version='1.7' xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="FRC_Field_2024" params="parent_link:='' x:=0 y:=0 z:=0 roll:=0 pitch:=0 yaw:=0">
        <link name='field'>
            <visual name='visual'>
                <geometry>
                    <mesh>
                        <uri>$(find robot_simulation)/models/FRC_Field_2024/FRC_Field_2024.dae</uri>
                    </mesh>
                </geometry>
            </visual>
            <collision name='collision'>
                <geometry>
                    <mesh>
                        <uri>$(find robot_simulation)/models/FRC_Field_2024/FRC_Field_2024_Collision.dae</uri>
                        <scale>1 1 1</scale>
                    </mesh>
                </geometry>
                <laser_retro>0</laser_retro>
                <max_contacts>10</max_contacts>
                <surface>

                    <contact>
                        <collide_without_contact>0</collide_without_contact>
                        <collide_without_contact_bitmask>1</collide_without_contact_bitmask>
                        <collide_bitmask>1</collide_bitmask>
                        <ode>
                            <soft_cfm>0</soft_cfm>
                            <soft_erp>0.2</soft_erp>
                            <kp>100000</kp>
                            <kd>1</kd>
                            <max_vel>0.001</max_vel>
                            <min_depth>0</min_depth>
                        </ode>
                    </contact>
                </surface>

            </collision>
            <self_collide>0</self_collide>
            <enable_wind>0</enable_wind>
            <kinematic>0</kinematic>
            <cast_shadows>0</cast_shadows>
        </link>
    </xacro:macro>

</sdf>